#right {
  div.inside
  {
    background: rgb(236, 243, 255);
    border-left: 0px solid gray;
    h1
    {
      font-size: 30px;
      font-family: Ubuntu;
      color:rgb(167, 82, 67);
    }



  }

  .ce_teaser
  {

    a //Headline
    {
      font-family: Ubuntu;

      h1
      {
        font-size: 20px;
        color:rgb(62, 65, 69);
      }
    }

    img
    {
      max-height:200px;
      max-width:300px;
    }
  }

}
