$nice-blue: rgb(59, 128, 209);


#header, #footer { background:$nice-blue; }
html { background: $nice-blue;}

h1
{
  font-family: Roboto, Arial, sans-serif;
   font-family:Ubuntu;

 }

 h2
 {
   font-family: Ubuntu;
 }

 h3{} h4{} h5{} h6 {}

 p
 {
   font-family: Roboto;
 }
