.calendar td {
  height: 120px; }

tr, td {
  border: 1px solid black; }

.event {
  display: block;
  font-size: 20px; }
  .event a {
    font-size: 17px;
    font-family: Ubuntu;
    margin: 4px; }
  .event a.time {
    color: #00c2ff;
    font-size: 15px; }

.head {
  text-align: center;
  vertical-align: middle;
  height: 100px;
  background: #f55656; }

.head.current {
  font-size: 30px; }

.head.previous, .head.next {
  font-size: 17px; }

.label {
  width: 14.25%;
  font-size: 14px;
  text-align: center; }

.calendar .header {
  font-size: 0.75em;
  background-color: #efefef;
  padding-left: 3px; }

.calendar .empty .header {
  background-color: #fff; }

.calendar .today .header {
  background-color: #9f111b;
  color: #fff;
  font-weight: 700; }

.calendar .event {
  margin: 3px 0;
  line-height: 1.1; }

.minicalendar .head,
.minicalendar .label,
.minicalendar td {
  text-align: center; }

.minicalendar .active {
  background: #9f111b; }

.minicalendar .active a,
.minicalendar .active a:visited {
  color: #fff; }

.layout_upcoming {
  padding: 1em 0.25em;
  border-bottom: 1px solid #ccc; }

.layout_upcoming.odd {
  background: #efefef; }
